@model IEnumerable<Guestbook.Models.CommentSummary>
@{
    ViewBag.Title = "CommentSummary";
}

<table>
    <tr>
        <th>Number of comments</th>
        <th>User name</th>
    </tr>
    @foreach (var summaryRow in Model)
    {
        <tr>
            <td>@summaryRow.NumberOfComments</td>
            <td>@summaryRow.UserName</td>
        </tr>
    }
</table>
