@{
    ViewBag.Title = "Add new entry";
}
<h2>Add new entry</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <p>Please enter your name: </p>
    @Html.TextBox("Name")
    <p>Please enter your message: </p>
    @Html.TextArea("Message", new { rows = 10, cols = 40 })
    <br />
    <br />
    <input type="submit" value="Submit Entry" />
}
